@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-family: 'Roboto', sans-serif;
}

.col-md-6 {
    padding: 0px;
}

header {
    margin-bottom: 30px;
}

/* header-login-area */
.login-area {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.login-area a {
    color: #eeebeb;
    text-decoration: none;
    padding-right: 20px;
    transition: .2s;
}

.login-area a:hover {
    color: #ee2852;
}

/* header-mainmenu-area */
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu {
    margin-top: 16px;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-left: 30px;
    font-size: 20px;
    transition: .2s;
}

.main-menu li a:hover {
    color: #ee2852;
}

/* footer-area */

.footer-area {
    padding: 100px 0;
    background-color: #222;
    color: #fff;
}

.footer-area h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area i {
    transition: .2s;
}

.footer-area a {
    text-decoration: none;
    color: #777;
    font-size: 15px;
    line-height: 40px;
    transition: .2s;
}

.footer-popular-courses li {
    color: #fff;
    font-size: 15px;
    line-height: 27px;  
}

.footer-popular-courses li a {
    color: #777;
}

.footer-area a i {
    padding-right: 15px;
    color: #fff;
}

.footer-area a:hover   {
    color: #ee2852;
}

.footer-area a:Hover i {
    color: #ee2852;
}
.footer-popular-courses a {
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}

.footer-popular-courses a span {
    font-size: 90%;
    font-weight: normal;
    color: #777;
}

.footer-area p {
    color: #777;
    font-size: 14px;
}


.footer-Flexible-learning img {
    width: 100%;
    height: 100%;
}

/* footer-copy-right-area */
.footer-copy-right-area {
    background-color: #111;
    color: #999;
    padding-top: 20px;
    padding-bottom: 40px;
}

.copy-right-address a {
    color: #777;
    text-decoration: none;
    margin-left: 10px;
    transition: .3s;
}

.copy-right-address a:hover {
    color: #ee2852;
}

.copy-right-address a span {
    margin-left: 20px;
}

/* main */

/* hero-area */
.hero {
    background-image: url(images/home/01.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.hero-text {
    padding: 200px 0;
}

.hero-text h2 {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 25px;
}

.hero-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text .boxed-btn a {
    text-decoration: none;
    color: #fff;
    padding: 15px 35px;
    border: 1px solid;
    font-weight: 700;
    display: inline-block;
    margin-right: 2px;
    transition: .3s;
}

.boxed-btn a:last-child {
    background-color: #ee2852;
    border: 1px solid #ee2852;
    padding: 15px 35px;
    color: #fff;
    transition: .3s;
}

.hero-text .boxed-btn a:hover {
    background-color: #ee2852;
    padding: 15px 35px;
    border: 1px solid #ee2852;
}

.hero-text .boxed-btn a:last-child:hover {
    background-color: transparent;
    border: 1px solid #Fff;
    padding: 15px 35px;
}
/* course-area */


.course {
    margin-bottom: 100px;
}

.course .course-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.course .course-menu {
    margin-bottom: 20px;
}
.course-menu li {
    display: inline-block;
}

.course-menu a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-left: 35px;
    transition: .2s;
}

.course-menu a:hover {
    color: #ee2852;
}

.course-menu a img {
    width: 30px;
    margin-left: -65px;
}

.course-img {
    position: relative;
}

.course-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-img p {
    position: absolute;
    bottom: 30px;
    right: 0;
    content: "";
    background-color: #ee2852;
    color:#Fff;
    padding: 10px 30px;
}

.course-text {
    padding: 45px 0;
}

.course-text h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 60px;
}

.course-text h3 span {
    font-size: 55%;
    color: #444;
    position: relative;
}

.course-text h3 span::after {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 50px;
    height: 4px;
    content: "";
    background-color: #ee2852;
    transition: .3s;
}

.single-course-img:hover .course-text h3 span::after {
    width: 70px;
}

.student-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-icon a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    transition: .2s;
}

.student-icon a:hover {
    color: #ee2852;
}

.course-vlue a {
    color: #ee2852;
    font-weight: 700;
    font-size: 25px;
    margin-left: 29%;
    margin-right: 0;
    text-decoration: none;
}

/* expert-and-learn-area */


.expert-and-learn-area {
    margin-bottom:100px;
}

.expert-and-learn-area .row .col-md-6 {
    padding: 0;
    margin: 0;
}
.expert-and-learn-area .expert-and-learn-img img {
    width: 100%;
    height: 100%;
}

.expert-and-learn-display-flex {
    background-color: #ee2852;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expert-and-learn-text h2 {
    font-weight: 700;
    font-size: 50px;
    text-align: left;
}

.expert-and-learn-display-flex .border-btn {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.expert-and-learn-bg {
    background-image: url(/images//expertAndLearn/03.jpeg);
    width: 100%;
    height: 100%;
    color: #000;
}

.expert-and-learn-bg .border-btn {
    color: #000;
    border-color: #000;
}

/* professional-area */

.professional-area {
    margin-bottom: 100px;
}

.professional-text {
    margin-bottom: 100px;
}

.professional-text h2 {
    font-weight: 700;
    font-size: 40px;
    position: relative;
    margin-bottom: 50px;
}

.professional-text h2::after {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 40px;
    height: 3px;
    content: "";
    background-color: #ee2852;
    transition: .3s;
}

.professional-area:hover h2::after {
    width: 60px;
}

.professional-team {
    display: flex;
    margin-bottom: 35px;
}

.professional-team img {
    width: 100px;
}

.team-number-social {
    margin-left: 25px;
    padding: 10px;
}


.team-number-social h5 {
    font-weight: 700;
}

.team-number-social h5 span {
    font-size: 70%;
    font-weight: 400;
    color: #555;
}

.team-number-social-icon a {
    color: #000;
    margin-right: 5px;
    display: inline-block;
    transition: .3s;
}

.team-number-social-icon a:hover {
    color: #ee2852;
}
/* review-author-area */

.review-author-area {
    background-image: url(images/reviewAuthor/04.jpeg);
    color: #FFf;
    margin-bottom: 100px;
}

.review-author-dipley-flex {
    display: flex;
    padding: 150px 0;
}

.review-author-img {
    margin-right: 60px;
    margin-top: 45px;
}

.review-author-text h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

.review-author-text p {
    color: #ddd;
}

.carousel-button {
    position: absolute;
    content: "";
    font-size: 50px;
    bottom: 18%;
    left: 15%;
}

.carousel-button .car-btn {
    background: transparent;
    color: #Fff;
}

/* tour-area */

.tour-area {
    margin-bottom: 100px;
}

.tour-text h2 {
    font-size: 50px;
    font-weight: 700;
    position: relative;
    margin-bottom: 50px;
}

.tour-text h2::after {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 40px;
    height: 3px;
    content: "";
    background-color: #ee2852;
    transition: .3s;
}

.tour-text:hover h2::after {
    width: 60px;
}

.tour-text p {
    color: #555;
    font-size: 20px;
    margin-bottom: 20px;
}

.tour-text ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tour-text ul li {
    line-height: 30px;
    color: #555;
}

.tour-text ul li i {
    color: #ee2852;
    margin-right: 15px;
}

.tour-img{
    position: relative;
}

.tour-img .tour-bg-img {
    width: 100%;
    height: 100%;
}

.tour-img .aboslute-img {
    position: absolute;
    top:  calc(50% - 48px);
    left: calc(50% - 48px);
}


/* universities-area */

.universities-area {
    background-image: url(images/universities/11.jpeg);
}

.universities-display-flex {
    display: flex;
    justify-content: center;
}

.universities-area {
    padding: 100px 0;
}

/* form-area */


.form-area {
    background-image: url(images/form/02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.form-container {
    background: #ee2852;
}

.form-title {
    width: 100%;
    height: 100%;
    background-color: #ee2852;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.form-title h2 {
    padding: 42px;
    color: #fff;
    font-size: 60px;
}

.apply-form {
    width: 100%;
    height: 100%;
    background: url("./images/form/01.jpeg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.apply-form h3.apply-form-title {
    margin-bottom: 40px;
    margin-right: auto;
    font-weight: 800;
}


.apply-form form input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 5px;
    margin-bottom: 30px;
}

.apply-form form input[type="submit"] {
    width: fit-content;
    padding: 18px 30px;
    background: #000;
    font-weight: 800;
    color: #fff;
    margin: 0px;
    transition: .3s;
}

.apply-form form input[type="submit"]:hover {
    background-color: #ee2852;
}

.apply-form::before {
    position: absolute;
    content: "";
    top: calc(50% - 18px);
    left: -14px;
    height: 35px;
    width: 35px;
    transform: rotate(45deg);
    border-radius: 5px;
    background: #fff;
}